#header-h1 {
    font-weight: bold;
    color: #000000;
    font-size: 32px;
    background: #B3ADAF;
    padding: 10px 0px 10px 20px;
}

.banner-100 {
    width: 100%;
}

.div-sobre {
    text-align: center;
    background: #cccccc;
    padding: 90px 10px 90px 10px;

}

.subtitulo {
    font-weight: bold;
    font-size: 22px;
}

.espacamento {
    padding: 15px;
}

#sobre-2linha-p-strong {
    font-weight: bold;    
}

.texto-maior {
    font-size: 20px;
    font-style: italic;
}

#sobre-3linha-p-em-strong {
    font-weight: bold;
    color: #ff0000;
}

.entretitulo {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 30px 0px 30px 0px
}

#beneficios-2linha-ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens-beneficios {
    margin-left: 20%;
    font-style: italic;
    list-style: disc;
    padding: 2px 0px 2px 0;
}

#imagem-beneficios {
    width: 50%;
}

